header {
  position: fixed;
  // position: fixed;
  width: 100%;
  top: 0;
  // position: relative;
  z-index: 250;
  //margin-bottom: $margeM;
  // padding: 0 $margeS;
  // @include debugFiletY(var(--headerHeight));
  min-height: 54px;
  @include anime(0.4s, 0s);
  &.down {
    @include slide(top, 0);
  }
  h1 {
    display: inline-block;
  }
  a,
  button {
    color: $noir-100;
    &:hover {
      color: $noir-50;
    }
  }
  .cartouche {
    position: relative;
    display: inline-block;
    padding: 0 $margeS $margeXS;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $blanc-100;
      // background-color: red;
      // background: red;
      // width: calc(100% + #{$margeM});
      // min-height: 1.455em;
      // transform: translateX(-$margeS);
    }
  }
  // nav {
  //   .cartouche {
  //     // padding-right: 53px;
  //     padding-left: 26.5px;
  //     padding-right: 26.5px;
  //   }
  //   li.cartouche:first-child {
  //     padding-left: 43px;
  //   }
  //   li.cartouche:last-child {
  //     padding-right: $margeS;
  //   }
  // }
  button.sm-menu-cta {
    line-height: 1;
    width: 100%;
  }
}

// .downscroll {
//   header {
//     .inner {
//       @include slide(top, 0);
//     }
//   }
// }

@media all and (max-width: $sm) {
  header {
    // padding: $margeXS;
    height: var(--headerHeightMobile);
    &.is-active {
      .cartouche::before {
        display: none;
      }
      a,
      .sm-menu-cta {
        color: $blanc-100;
      }
      .sm-menu {
        display: block;
      }
    }

    .home-button,
    .sm-menu-cta {
      position: relative;
      z-index: 251;
    }

    .sm-menu {
      position: fixed;
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: var(--appHeight);
      padding: var(--headerHeightMobile) $margeS 0;
      background: $noir-100;
      color: $blanc-100;
      a {
        color: $blanc-100;
      }
      .bottom-right {
        right: $margeS;
        bottom: $margeS;
      }
      .cartouche::before {
        display: none;
      }
    }
    .menu-header ul.x {
      flex-direction: column;
    }
  }
}
