.footnotes {
  counter-reset: listCounter;
  li {
    counter-increment: listCounter;
    display: flex;
    &::before {
      content: "[" counter(listCounter) "]";
      min-width: var(--md1);
      @media all and (max-width: $sm) {
        min-width: $margeL;
      }
    }
    a {
      color: $bleu-100;
    }
  }
}
