.project-liste {
  overflow-x: hidden;

  h2,
  li {
    background: $noir-100;
    color: $blanc-100;
    // border-bottom: $border;
    padding: 7px $margeS 6px;
    padding: 0 $margeS;
    // @include debugSquare(8px);
    position: relative;
    // &::after {
    //   content: "";
    //   display: block;
    //   height: $borderWidth;
    //   background: white;
    //   position: absolute;
    //   bottom: 0;
    //   left: $margeS;
    //   width: calc(100% - #{$margeM});
    // }
    .inner {
      padding: 7px 0 6px;
      border-bottom: $border;
    }
  }
  ul .inner {
    min-height: calc(3 * #{$fontMLh} + 15px);
  }
  li:last-child .inner {
    border: none;
  }
  h2 {
    // padding-right: 0;
    display: inline-block;
    padding-right: 0;
    .inner {
      padding-right: $margeS;
    }
  }
  a,
  button {
    color: $blanc-100;
    &:hover {
      color: $blanc-50;
    }
  }

  .credits {
    @media all and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      grid-column-gap: $margeS;
      font-size: $fontXS;
      margin: 6px 0;
    }

    & > div {
      display: inline;

      &:nth-child(2) {
        @media all and (max-width: 768px) {
          grid-column: 2 / -1;
          display: flex;
          flex-direction: column;

          & > span {
            display: none;
          }
        }
      }
    }

    a {
      color: $blanc-100;

      @media all and (max-width: 768px) {
        color: $blanc-50;
      }

      &:hover {
        color: $blanc-50;
      }
    }
  }

  .image-overlay {
    z-index: 250;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: red;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;

    &.open {
      opacity: 1;
      // pointer-events: all;
    }
  }
}

.touch .project-liste {
  .image-overlay.open {
    pointer-events: all;
  }
}

@media all and (max-width: 768px) {
  .project-liste {
    overflow-x: hidden;
    .image-overlay {
      &.open {
        pointer-events: all;
      }
    }
  }
}

// @media all and (max-width: $sm) {
//   .project-liste {
//     .image-overlay {
//       &.is-landscape {
//         .cover {
//           width: 100% !important;
//           height: 100% !important;
//         }
//       }
//     }
//   }
// }

.overlay__inner {
  width: calc((100vw - 10px * 13) / 12 * 10 + 10px * 9);
  height: calc(100vh - 100px);
}

.overlay__image {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    max-width: calc((100vw - 10px * 13) / 12 * 10 + 10px * 9);
    max-height: calc(100vh - 100px);
    width: auto;
    height: auto;
  }
}

.overlay__caption {
  position: absolute;
  background-color: white;
  color: $noir-100;
  bottom: 0;
  right: 0;
  transform: rotate(-90deg) translate(100%, calc(100% + 3px));
  transform-origin: bottom right;
  font-size: $fontS;
  line-height: 18px;
  padding: 3px 3px;

  a {
    color: $noir-100;

    @media all and (max-width: 768px) {
      color: $noir-50 !important;
    }

    &:hover {
      color: $noir-50;
    }
  }
}

@media all and (max-width: 768px) {
  .overlay__inner {
    width: calc(100vw - 10px * 2);
    height: calc(100vh - 100px);
  }

  .overlay__image {
    img {
      max-width: calc(100vw - 10px * 2);
      max-height: calc(100vh - 100px);
    }
  }

  .overlay__caption {
    transform: rotate(-90deg) translate(calc(100% + 3px), -3px);
  }
}
