.texte-liste {
  // background: red;
  @include debugSquare(120px);
  .inner {
    width: calc((100% / 12) * 7);
    max-width: 1022px;
  }
  .title {
    font-size: $fontS;
  }
  .texte {
    // padding-left: var(--md1);
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    p {
      max-width: 625px;
    }
    a {
      // color: red;
    }
    // @media all and (max-width: $sm) {
    //   padding-left: $margeL;
    // }
  }
}
