:root {
  --appHeight: 100%;
  --headerHeight: calc(clamp(22px, 1.5vw, 27px) * 1.2272727273 * 2);
  --headerHeightMobile: 50px;
  --md1: 8.33333%;
  //   --margeS: 10px;
  //   --margeM: 20px;
  //   --margeL: 60px;
}

html,
body {
}

main {
  padding: var(--headerHeight) 0 120px;
}
.container-fluid {
  padding-left: $margeS;
  padding-right: $margeS;
}

.mbS {
  margin-bottom: $margeS;
}
.mbM {
  margin-bottom: $margeM;
}
.mbL {
  margin-bottom: $margeL;
}
.mbXXL {
  margin-bottom: $margeXXL;
}
.mrS {
  margin-right: $margeS;
}
.mrM {
  margin-right: $margeM;
}
.mrL {
  margin-right: $margeL;
}
.mrXXL {
  margin-right: $margeXXL;
}
.prS {
  padding-right: $margeS;
}
.prM {
  padding-right: $margeM;
}
.prL {
  padding-right: $margeL;
}
.prXXL {
  padding-right: $margeXXL;
}

.sm-only {
  display: none;
}
@media all and (max-width: $sm) {
  .sm-only {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}

@media all and (min-width: $lg) {
  // .mbS {
  //   margin-bottom: $margeS;
  // }
  // .mbM {
  //   margin-bottom: $margeM;
  // }
  // .mbL {
  //   margin-bottom: $margeL;
  // }
  // .mbXXL {
  //   margin-bottom: 40px;
  // }
}
