@font-face {
  font-family: "untitled-sans-web-bold";
  src: url("./fonts/untitled-sans-web-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  // font-display: optional;
}
// @font-face {
//   font-family: "untitled-sans-web-bold-italic";
//   src: url("./fonts/untitled-sans-web-bold-italic.woff") format("woff"),
//     url("./fonts/untitled-sans-web-bold-italic.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
//   font-display: optional;
// }
@font-face {
  font-family: "untitled-sans-web-medium";
  src: url("./fonts/untitled-sans-web-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  // font-display: optional;
}
// @font-face {
//   font-family: "untitled-sans-web-medium-italic";
//   src: url("./fonts/untitled-sans-web-medium-italic.woff") format("woff"),
//     url("./fonts/untitled-sans-web-medium-italic.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
//   font-display: optional;
// }

@font-face {
  font-family: "untitled-serif";
  src: url("./fonts/untitled-serif-web-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  // font-display: optional;
}
@font-face {
  font-family: "untitled-serif-Italic";
  src: url("./fonts/untitled-serif-web-regular-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  // font-display: optional;
}

body {
  color: $noir-100;
  font-family: $fontPrimary700;
  font-size: $fontM;
  line-height: $fontMLh;
  // text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  // font-weight: 700;
}

.fS {
  font-size: $fontS;
  line-height: em(23px, $fontS);
}
.fM {
  font-size: $fontM;
  line-height: em(27px, 22px);
}
@media all and (min-width: $lg) {
  body,
  .fM {
    font-size: 27px; //clamp(23px, 1.7vw, ,27px)
    font-size: clamp(22px, 1.5vw, 27px);
    color: red;
    // line-height: em(32px, 27px);
  }
  .fS {
    font-size: $fontS;
    // line-height: em(23px, $fontS);
  }
}

.fSeg {
  font-family: $fontSecondary;
  & em {
    font-family: $fontSecondaryIt;
  }
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-family: $fontPrimary500;
  & em {
    font-family: $fontPrimaryIt500;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.headline {
  font-size: $fontM;
  font-size: inherit;
  font-weight: unset;
}

// .small{
// 	font-size: $fontXs;
// 	line-height: $fontXsLh;
// }

/* Links */
//a{text-decoration: none;}
a,
.btn {
  // color: blue;
  // color: $color1;
  text-decoration: none;
  &:focus,
  &:active,
  &:hover {
    //color: $hover;
  }
}

/* Text elements */
p {
  // margin-bottom: 0;
  // line-height: 1.4;
  // hyphens: auto;
  &:last-child {
    margin-bottom: 0;
  }
  &:empty {
    display: none;
  }
  // a {
  //   word-break: break-all;
  // }
}
.fS p a {
  color: $bleu-100;
  &:hover {
    color: $bleu-50;
  }
}
.texte {
  // hyphens: auto;
  // word-wrap: break-word;
  // overflow-wrap: break-word;

  p {
    &,
    a {
      word-break: keep-all;
    }
    text-indent: $margeM;
  }
  p:first-child {
    text-indent: 0;
  }
}

strong {
  font-weight: bold;
}
em {
  font-style: unset;
}

button {
  background: transparent;
}

.tabnum {
  font-feature-settings: "tnum" on, "lnum" on, "case" on;
}

hr {
  background-color: #000;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

pre {
  background: #f4f4f4;
  line-height: 1.5;
  margin-bottom: 1.5em;
  overflow: auto;
  padding: 0.75em 1.5em;
}

abbr,
acronym,
dfn {
  border-bottom: $border;
  cursor: help;
}
address {
  display: block;
  font-style: initial;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}

@media all and (max-width: $sm) {
  // body,h1,h2,h3,.fM{
  // 	font-size: 20px;
  // }
  // .fS{font-size: 20px}
  // .fXS{font-size: 12px}
  // .texte p{
  // 	text-indent: 20px;
  // 	&:first-child{text-indent: 0}
  // }
  .texte p {
    a {
      hyphens: auto;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}
