img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.cover {
  //   background-color: red;
  background-size: cover;
  height: 100%;
}

.container-inner {
  // @media all and (min-width: $sm) {
  @media all and (min-width: 768px) {
    width: calc((100% / 12) * 7);
    max-width: 1022px;
  }
}
