/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$headerHeight: 122px;
$headerHeightMobile: 50px;

/* Colors */
$noir-100: #000;
$noir-50: #595959;
$bleu-100: #0029ff;
$bleu-50: #4c69ff;
$blanc-100: #ffffff;
$blanc-50: #d9d9d9;

//$links: $color1;
//$hover: $color2;

$bg: white;

/* PADDINGS */
$margeXS: 5px;
$margeS: 10px; //10
$margeM: 20px; //20
$margeL: 40px; //40
$margeXL: 80px; // 80
$margeXXL: 120px;
$gutter: 2.5px;

/* Fonts */
$fontPrimary: "untitled-sans-web-bold", helvetica, sans-serif;
$fontPrimary700: "untitled-sans-web-bold", helvetica, sans-serif;
$fontPrimaryIt700: "untitled-sans-web-bold-italic", helvetica, sans-serif;
$fontPrimary500: "untitled-sans-web-medium", helvetica, sans-serif;
$fontPrimaryIt500: "untitled-sans-web-medium-italic", helvetica, sans-serif;
$fontSecondary: "untitled-serif", serif;
$fontSecondaryIt: "untitled-serif-italic", serif;
$fontXS: 14px;

$fontS: 18px;
$fontSLh: 1.278em;

$fontM: 22px;
$fontMLh: 1.2272727272727273em;

$borderWidth: 1px;
$border: $borderWidth solid;

/* Breakpoints */
$cap: 1920px;
$m: 1024px;
$s: 982px;
$xs: 500px;

$sm: 1024px;
$md: 1118px;
// $lg: 1441px;
$lg: 1281px;
